# Use this notbook for your 3 choices of APIs

In [2]:
# Import library
import requests as rq
import json
import pandas as pd

## Gutendex - Project Gutenberg ebook metadata

In [4]:
gutendex = rq.get('http://gutendex.com/books')
print('gutendex:', gutendex.status_code)

gutendex: 200

In [5]:
gutendex_response = requests.get('http://gutendex.com/books')
gutendex_response
gutendex_results = gutendex_response.json()
#gutendex_results

In [6]:
pd.set_option("display.max_rows", 0)

gutendex_data = pd.DataFrame(gutendex_results)
gutendex_data.head()

,count,next,previous,results
0,69031,http://gutendex.com/books/?page=2,None,"{'id': 2641, 'title': 'A Room with a View', 'a..."
1,69031,http://gutendex.com/books/?page=2,None,"{'id': 16389, 'title': 'The Enchanted April', ..."
2,69031,http://gutendex.com/books/?page=2,None,"{'id': 1342, 'title': 'Pride and Prejudice', '..."
3,69031,http://gutendex.com/books/?page=2,None,"{'id': 84, 'title': 'Frankenstein; Or, The Mod..."
4,69031,http://gutendex.com/books/?page=2,None,"{'id': 145, 'title': 'Middlemarch', 'authors':..."

In [7]:
def flatten(gutendex_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(gutendex_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        gutendex_data = pd.concat([gutendex_data, flattened], axis=1)
        gutendex_data = gutendex_data.drop(column, axis=1)
    return gutendex_data

In [9]:
dict(gutendex_data['results'])
pd.DataFrame(dict(gutendex_data['results']))
pd.DataFrame(dict(gutendex_data['results'])).transpose().head(3)

,id,title,authors,translators,subjects,bookshelves,languages,copyright,media_type,formats,download_count
0,2641,A Room with a View,"[{'name': 'Forster, E. M. (Edward Morgan)', 'b...",[],"[British -- Italy -- Fiction, England -- Ficti...",[Italy],[en],False,Text,{'image/jpeg': 'https://www.gutenberg.org/cach...,82903
1,16389,The Enchanted April,"[{'name': 'Von Arnim, Elizabeth', 'birth_year'...",[],"[British -- Italy -- Fiction, Domestic fiction...","[Bestsellers, American, 1895-1923]",[en],False,Text,{'image/jpeg': 'https://www.gutenberg.org/cach...,70806
2,1342,Pride and Prejudice,"[{'name': 'Austen, Jane', 'birth_year': 1775, ...",[],"[Courtship -- Fiction, Domestic fiction, Engla...","[Best Books Ever Listings, Harvard Classics]",[en],False,Text,{'application/x-mobipocket-ebook': 'https://ww...,57845

In [10]:
gutendex_nested_columns = ['results']

gutendex_flat = flatten(gutendex_data, gutendex_nested_columns)
gutendex_flat.head(3)

,count,next,previous,results_id,results_title,results_authors,results_translators,results_subjects,results_bookshelves,results_languages,results_copyright,results_media_type,results_formats,results_download_count
0,69031,http://gutendex.com/books/?page=2,None,2641,A Room with a View,"[{'name': 'Forster, E. M. (Edward Morgan)', 'b...",[],"[British -- Italy -- Fiction, England -- Ficti...",[Italy],[en],False,Text,{'image/jpeg': 'https://www.gutenberg.org/cach...,82903
1,69031,http://gutendex.com/books/?page=2,None,16389,The Enchanted April,"[{'name': 'Von Arnim, Elizabeth', 'birth_year'...",[],"[British -- Italy -- Fiction, Domestic fiction...","[Bestsellers, American, 1895-1923]",[en],False,Text,{'image/jpeg': 'https://www.gutenberg.org/cach...,70806
2,69031,http://gutendex.com/books/?page=2,None,1342,Pride and Prejudice,"[{'name': 'Austen, Jane', 'birth_year': 1775, ...",[],"[Courtship -- Fiction, Domestic fiction, Engla...","[Best Books Ever Listings, Harvard Classics]",[en],False,Text,{'application/x-mobipocket-ebook': 'https://ww...,57845

## The Metropolitan Museum of Art Collection API

In [11]:
met = rq.get('https://collectionapi.metmuseum.org/public/collection/v1/objects')
print('met:', met.status_code)

met: 200

In [13]:
met_response = requests.get('https://collectionapi.metmuseum.org/public/collection/v1/objects')
met_response
met_results = met_response.json()
#met_results

In [14]:
pd.set_option("display.max_rows", 0)

met_data = pd.DataFrame(met_results)
met_data.head(5)

    total  objectIDs
0  482241          1
1  482241          2
2  482241          3
3  482241          4
4  482241          5

In [15]:
def flatten(met_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(met_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        met_data = pd.concat([met_data, flattened], axis=1)
        met_data = met_data.drop(column, axis=1)
    return met_data

In [17]:
met_nested_columns = ['objectIDs']

met_data = flatten(met_data, met_nested_columns)
met_data.head(3)

ValueError: If using all scalar values, you must pass an index

## TLE API (1.3.2)

In [19]:
satelite = rq.get('https://tle.ivanstanojevic.me/api/tle')
print('satelite:', satelite.status_code)

satelite: 403

## anime-facts-rest-api

In [20]:
anime = rq.get('https://anime-facts-rest-api.herokuapp.com/api/v1')
print('anime:', anime.status_code)

anime: 200

In [22]:
anime_response = requests.get('https://anime-facts-rest-api.herokuapp.com/api/v1')
anime_response
anime_results = anime_response.json()
#anime_results

In [23]:
pd.set_option("display.max_rows", 0)

anime_data = pd.DataFrame(anime_results)
anime_data.head(5)

   success                                               data
0     True  {'anime_id': 1, 'anime_name': 'bleach', 'anime...
1     True  {'anime_id': 2, 'anime_name': 'black_clover', ...
2     True  {'anime_id': 3, 'anime_name': 'dragon_ball', '...
3     True  {'anime_id': 4, 'anime_name': 'jujutsu_kaisen'...
4     True  {'anime_id': 5, 'anime_name': 'fma_brotherhood...

In [24]:
def flatten(anime_data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(anime_data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        anime_data = pd.concat([anime_data, flattened], axis=1)
        anime_data = anime_data.drop(column, axis=1)
    return anime_data

In [25]:
anime_nested_columns = ['data']
anime_data = flatten(anime_data, anime_nested_columns)
anime_data.head(3)

,success,data_anime_id,data_anime_name,data_anime_img
0,True,1,bleach,https://m.media-amazon.com/images/M/MV5BZjE0Yj...
1,True,2,black_clover,https://m.media-amazon.com/images/M/MV5BNTAzYT...
2,True,3,dragon_ball,https://m.media-amazon.com/images/M/MV5BMGMyOT...

 ## Art Institute of Chicago API

In [27]:
artC = rq.get('https://api.artic.edu/api/v1/artworks')
print('artC:', artC.status_code)

artC: 200

In [28]:
artC_response = requests.get('https://api.artic.edu/api/v1/artworks')
artC_response
artC_results = artC_response.json()
#artC_results

In [29]:
pd.set_option("display.max_rows", 0)

artC_data = pd.DataFrame(artC_results)
artC_data.head(5)

ValueError: Mixing dicts with non-Series may lead to ambiguous ordering.